<a href="https://colab.research.google.com/github/nefetorve/big_data/blob/master/02_pandas/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.__version__

'1.0.5'

**Serie**

In [3]:
s = pd.Series(data=[3,2,4,7], index = ['a', 'b', 'c', 'd'], name ='sample')

In [4]:
s

a    3
b    2
c    4
d    7
Name: sample, dtype: int64

In [5]:
import numpy as np

In [6]:
s = pd.Series(data=[3,2,np.nan,7], index = ['a', 'b', 'c', 'd'], name ='sample')

In [7]:
s

a    3.0
b    2.0
c    NaN
d    7.0
Name: sample, dtype: float64

In [8]:
s = pd.Series(data=[True, False, True, True], index = ['a', 'b', 'c', 'd'], name ='sample')

In [9]:
s

a     True
b    False
c     True
d     True
Name: sample, dtype: bool

In [10]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20200101',periods=10)) # wpisywanie daty

In [11]:
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [12]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [13]:
s = pd.Series(data=['python','java','sql'],name='jezyki')
s

0    python
1      java
2       sql
Name: jezyki, dtype: object

In [14]:
type(s)

pandas.core.series.Series

In [15]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [16]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [17]:
s.copy()

0    python
1      java
2       sql
Name: jezyki, dtype: object

In [18]:
 s.dtypes

dtype('O')

In [19]:
s.shape

(3,)

In [20]:
price = pd.Series(data={'Apple': 200, "CD Projekt": 60, 'Amazon': 1900, 'KGHM': np.nan})

In [21]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [22]:
price['CD Projekt']

60.0

In [23]:
price.count() #liczba elementów w obiekcie

3

In [24]:
price.value_counts() # sprawdza ile razy wystąpiła dana liczba

1900.0    1
60.0      1
200.0     1
dtype: int64

In [25]:
price.sum()

2160.0

In [26]:
price.min()

60.0

In [27]:
price.max()

1900.0

In [28]:
price.std()

1024.3046421841502

In [29]:
price.describe().T

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [30]:
price.nlargest(1) #top najlepszy

Amazon    1900.0
dtype: float64

In [31]:
price.nsmallest(2)

CD Projekt     60.0
Apple         200.0
dtype: float64

In [32]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [33]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [34]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [41]:
price_pln = price.apply(lambda x: x * 3.8)
price_pln

Apple          2888.0
CD Projekt      866.4
Amazon        27436.0
KGHM              NaN
dtype: float64

In [42]:
price

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

DataFrame

In [45]:
df = pd.DataFrame(data=[12,12,32], index=['first','second','thrid'], columns=["col1"])

In [46]:
df

        col1
first     12
second    12
thrid     32

In [47]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN','PKO BP'],
                        'mWIG40': ['Amica', 'PlayWay']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  PlayWay

In [49]:
df = pd.DataFrame(data=[[10,12,13],[23,12,10]], index=['first','second'], columns=["col1","col2","col3"])
df

        col1  col2  col3
first     10    12    13
second    23    12    10

In [51]:
list(df.columns)

['col1', 'col2', 'col3']

In [52]:
df.index

Index(['first', 'second'], dtype='object')

In [53]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    2 non-null      int64
 1   col2    2 non-null      int64
 2   col3    2 non-null      int64
dtypes: int64(3)
memory usage: 144.0+ bytes

In [57]:
df.describe().T

      count  mean       std   min    25%   50%    75%   max
col1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

In [60]:
df['col1'] #jako seria

first     10
second    23
Name: col1, dtype: int64

In [61]:
df[['col1']] # jako df

        col1
first     10
second    23

In [62]:
df.columns = ['a','b','c']

In [63]:
df

         a   b   c
first   10  12  13
second  23  12  10

In [65]:
df.a # dobieranie się do kolumn

first     10
second    23
Name: a, dtype: int64

In [67]:
df['d'] = df.a + df.c # nowa kolumna jako suma a i c
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [68]:
df = pd.DataFrame(data=[[10,12,13],[23,12,10]], index=['first','second'], columns=["col1","col2","col3"])
df

        col1  col2  col3
first     10    12    13
second    23    12    10

In [70]:
df.loc['first']  #wycinanie po nazwie

col1    10
col2    12
col3    13
Name: first, dtype: int64

In [71]:
df.iloc[0]  #wycinanie po nr

col1    10
col2    12
col3    13
Name: first, dtype: int64

In [72]:
df.loc['first','col2']

12

In [73]:
df.loc[:,'col2']

first     12
second    12
Name: col2, dtype: int64

In [74]:
df.iloc[0,1]

12